body{
    background-image: url("../public/images/fondoEstrellas2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: 91becb !important;
}

@font-face {
    font-family: fontTitle;
    src: url(../public/fonts/neuropolitical.ttf);
}

@font-face {
    font-family: fontContent;
    src: url(../public/fonts/microgramma.ttf);
    
}

header img{
    width: 400px;
    fill: #91becb !important;
}

h1, h2, h3, h4 {
    font-family: fontTitle;
}

header {
    text-align: center;
    margin: 20px 0;
}

main {
    margin: 0 300px;
}

.addReportButton {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin: 60px 0;
}

.addReportButton button {
    all: unset;
    cursor: pointer;
    border: 1px solid #91becb;
    padding: 15px 45px;
    color: #91becb;
    -webkit-box-shadow: 0px 0px 29px 1px rgba(255,255,255,0.8);
    -moz-box-shadow: 0px 0px 29px 1px rgba(255,255,255,0.8);
    box-shadow: 0px 0px 29px 1px rgba(255,255,255,0.8);
}

.spaceshipActions {
    display: flex;
    justify-content: center;
    text-decoration: none !important;
}

.spaceshipActions button{
    all: unset;
    cursor: pointer;
    border: 1px solid #91becb;
    padding: 15px 45px;
    color: #91becb;
    -webkit-box-shadow: 0px 0px 29px 1px rgba(255,255,255,0.8);
    -moz-box-shadow: 0px 0px 29px 1px rgba(255,255,255,0.8);
    box-shadow: 0px 0px 10px 1px rgba(255,255,255,0.8);
    text-decoration: none !important;
}

.card {
    width: 100%;
    background-color: transparent !important;
}

.card .row {
    padding: 25px;
}

.imgContainer {
    border: 1px solid #91becb;
    width:20% !important;
}

.row .dataContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    width: 80%;
}

.dataContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 25px;    
}

.dataContainer h2{
    line-height: 25px;
    margin-bottom: 0px;
}

.spaceshipData {
    position: relative;
    width: 100%;
}

.spaceshipDate {
    position: absolute;
    top: 0;
    right: 0;
}

.spaceshipActions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.spaceshipActions p {
    margin-bottom: 0;
}

footer img{
    width: 200px;   
}

footer{
    text-align: center;
}